.headerstyle{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.iconHeader{
  transform: translateY(10%);
  color: var(--primary-color);
}

.iconLogin{
  transform: translateY(15%);
  color: var(--primary-color);

}
/*Header Info */

.headerInfo{
  display: none;
}

@media screen  and (min-width: 1025px){
  .headerInfo {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  padding: 12px 120px 12px 120px;
  font-size: 14px;
  width: 100%;
  align-items: center;
}

.infoDivs{
  display: flex;

  gap: 15px;
}


}

/* Search styles */

.searchInput{
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: var(--terciary-color);
  width: 507px;
  height: 48px;
  border-radius: 10px;
  padding: 0px 10px;
}

.searchInput button {
  border: none;
  transform: translateY(10%);
  cursor: pointer;
  background-color: transparent;
}

.searchInput input {
  border: none;
  outline: 0;
  background-color: transparent;
  width: 98%;
}

/*Menu styles */
.menu-container {
    position: relative;
    margin: 20px;
  }
  
  .ham-button {
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    padding: 0px 3px;
    border-radius: 10px;
    transform: translateY(10%)
  }
  
  
  .menu {
    position: absolute;
    top: 50px;
    right: 100;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 15px 0;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .menu li  {
    text-decoration: underline 2px var(--primary-color);
    color: #333;
    transition: 3s; 
  }
  /**/
  
  .userDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }

  .user {
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding-left: 6px;
  }
 .divSlash{
  border: solid 1px #d9d9d9;
  width: 24px;
  height: 0;
  transform: rotate(-90deg);
  margin: auto;
}

.logout{
  background-color: var(--secondary-color);
  color: black;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}