.miniCardDiv{
    display: flex;
    gap: 20px;
    justify-self: center;
    margin: 30px  
}

.aaaa{
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0%;
text-decoration: line-through;

}

.priceDiscount{
font-weight: 500;
font-size: 22.73px;
line-height: 34.1px;
letter-spacing: 0%;

}

.divMemory{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    color: rgba(27, 27, 31, 0.7);

}

.divMemory > div {
    width: 67.2049560546875;
    height: 28.051239013671875;
    padding-top: 2.53px;
    padding-right: 10.1px;
    padding-bottom: 2.53px;
    padding-left: 10.1px;
    border-radius: 63.14px;
    border-width: 0.63px;
    border: 1px solid var(--product-color);
    
}

.divCep{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}